.border-index {
    border-radius: 8px;
}

.detail-title {
    position: relative;
    display: block;
}

.update-time {
    position: absolute;
    top: 2px;
    right: 2px;
}

.detail-aqi-chart {
    display: inline-block;
}