.province-img {
    width: 40px;
    height: 100%;
}

.bg-black {
    background-color: black;
    color: white;
}

.province-box {
    display: flex;
    justify-content: space-between;
}

.province-td:hover {
    background-color: aliceblue;
    color: black;
}

.provice-border-left {
    border-left: 2px solid lightblue;
}

.province-border-radius {
    border-radius: 8% 8% 8% 8% / 31% 31% 31% 30%;
}

.province-hanh-chinh {
    width: 100%;
}

.aqi-value {
    background-color: "#1A93D9";
}

.breadcrumb-title {
    height: fit-content;
}
