<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Province</li>
                </ol>
            </nav>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <table class="table table-dark table-striped province-border-radius">
                <tbody>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <div class="province-box">

                                <img class="province-img" src="../../../assets/img/provinces/an_giang.png" onerror="if(this.src !='../../../assets/img/provinces/tinh.jpg')this.src='../../../assets/img/provinces/tinh.jpg'" alt="" srcset="">
                                <div class="province-name">An Giang</div>
                            </div>

                        </td>
                        <td class="provice-border-left">
                            <div class="province-box">
                                <img class="province-img" src="../../../assets/img/provinces/an.png" onerror="if(this.src !='../../../assets/img/provinces/tinh.jpg')this.src='../../../assets/img/provinces/tinh.jpg'" alt="" srcset="">
                                <div class="province-name">Thái Bình</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="province-box">

                                <img class="province-img" src="../../../assets/img/provinces/an_giang.png" onerror="if(this.src !='../../../assets/img/provinces/tinh.jpg')this.src='../../../assets/img/provinces/tinh.jpg'" alt="" srcset="">
                                <div class="province-name">An Giang</div>
                            </div>

                        </td>
                        <td class=" provice-border-left">
                            <div class="province-box">
                                <img class="province-img" src="../../../assets/img/provinces/an.png" onerror="if(this.src !='../../../assets/img/provinces/tinh.jpg')this.src='../../../assets/img/provinces/tinh.jpg'" alt="" srcset="">
                                <div class="province-name">Thái Bình</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="d-none d-md-block col-lg-6">
            <img class="province-hanh-chinh" src="../../../assets/img/provinces/hanh_chinh.jpg">
        </div>
    </div>
</div>