.table-point-admin::ng-deep table {
    background-color: bisque;
    border: 1px solid #dee2e6;
}

.col-title {
    overflow: scroll;
}

.filter-class::ng-deep {
    width: 30px !important;
}

.table-box-admin::ng-deep .table-bordered {
    border-color: #200a04;
}

.select-city ::ng-deep.ng-dropdown-panel {
    height: 10px;
}
